<div class="navblock3">
    <nav class="nav2">
        <p class="dib baumans24-30 nnumber">Id</p>
        <p class="dib baumans24-30 nname">Name</p>
        <p class="dib baumans24-30 nauthor">Email</p>
        <p class="dib baumans24-30 ncost">Gender</p>
        <p class="dib baumans24-30 ndesc">Role</p>
    </nav>
</div>