<div class="navblock2">
    <nav class="nav2">
        <p class="dib baumans24-30 nnumber">Number</p>
        <p class="dib baumans24-30 nname">Name</p>
        <p class="dib baumans24-30 nauthor">Author</p>
        <p class="dib baumans24-30 ncost">Cost</p>
        <p class="dib baumans24-30 ndesc">Description</p>
    </nav>
</div>